.mainContainer {
	display: flex;
	justify-content: center;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* Tamaño */
	width: 500px;
	height: 800px;
	padding: 24px;
	margin: 24px;
	/* Glasmorfismo */
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.pokeName {
	text-transform: capitalize;
}

.pokeName {
	font-size: 36px;
	padding: 12px;
	margin: 0px;
}

.statsContainer {
	display: flex;
	column-gap: 24px;
	padding: 12px;
}

.statsContainer img {
	width: 30px;
}

.statsContainer h3 {
	margin: 0px;
	font-size: 24px;
}

.stats {
	display: flex;
	align-items: center;
	column-gap: 6px;
}

.imgPokemon {
	max-width: 350px;
}

.pokedexContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 6px;
	padding: 24px 0px;
}

.pokedex {
	font-size: 24px;
	margin: 0;
}

.imgPokedex {
	width: 30px;
}
