.mainContainer button {
	font-family: roboto;
	font-size: 14px;
	color: rgb(248, 248, 248);
	width: 120px;
	height: 40px;
	border: none;
}

.buttonIzq {
	border-radius: 6px 0px 0px 6px;
}

.buttonDer {
	border-radius: 0px 6px 6px 0px;
}

.buttonClass {
	background-color: rgb(49, 200, 195);
	transition: 0.5s;
}

.active {
	background-color: rgb(30, 144, 141);
}

.buttonClass:hover {
	background-color: rgb(30, 144, 141);
}
